	<h3> Reserve A Room</h3> 
	<%= form_for @userrr, :url =>{:action => :create} do |f| %>
		<label for="event_name">Event Name:</label><br />
		<%=text_field :name, :size => 10%><br />
		
		<label for="event_location">Location:</label><br />
		<%=select_tag(:locations, options_for_select(["Chapter Room", 
			"Music Room", "IRDF Room", "Center Room", "Room 57"]))%><br />
		<table>
		<tr>
		<td>
		<label for="dp1">Start Date:</label><br/>
		<input type="text" id="m1" name="m1" maxlength="2" class="m"/> /
		<input type="text" id="d1" name="d1" maxlength="2" class="d"/> /
		<input type="text" id="y1" name="y1" maxlength="4" class="y"/><br/>
       <script type="text/javascript">
		// <![CDATA[ 	   
        var opts = {                            
                formElements:{"y1":"Y", "m1":"m", "d1":"d"} ,
				//statusFormat:"l-cc-sp-d-sp-F-sp-Y",
				//staticPos:true,
				constrainSelection:false,
				finalOpacity:100,
        };        
        datePickerController.createDatePicker(opts);
		var myJSON = {"mousewheel":false};
		datePickerController.setGlobalVars(myJSON);
		var now=new Date();
		datePickerController.setSelectedDate("y1",now.format("yyyymmdd"));
		datePickerController.dateValidForSelection("y1", now);
		// ]]>
      </script>
	  <label for="event_time_start">Start Time:</label><br/>
	  <input type="text" id="timestart1" name="timestart1" maxlength="2" class="time" /> :
	  <input type="text" id="timestart2" name="timestart2" maxlength="2" class="time"/>
	  <%=select_tag(:timestart3, options_for_select(["am","pm"]))%><br />
	  <script type="text/javascript">
		// <![CDATA[
			var time = new Date();
			$("#timestart1").attr({value: time.format("hh")});
			$("#timestart2").attr({value: time.format("MM")});
			$("#timestart3").val(time.format("tt"));
			$('.time').each(function() {
				var default_value = this.value;
				$(this).focus(function() {
					if(this.value == default_value) {
						this.value = '';
					}
				});
				$(this).blur(function() {
					if(this.value == '') {
							this.value = default_value;
					}
				});
			});
		// ]]>
      </script>
	  </td>
	  <td id="spacer">
	  </td>
	  
	  <td>
	  <label for="dp2">End Date:</label><br/>
	  <input type="text" id="m2" name="m2" maxlength="2" class="m"/> /
		<input type="text" id="d2" name="d2" maxlength="2" class="d"/> /
		<input type="text" id="y2" name="y2" maxlength="4" class="y"/><br/>
       <script type="text/javascript">
		// <![CDATA[ 	   
        var opts = {                            
                formElements:{"y2":"Y", "m2":"m", "d2":"d"} ,
				//statusFormat:"l-cc-sp-d-sp-F-sp-Y",
				//staticPos:true,
				constrainSelection:false,
				finalOpacity:100
        };        
        datePickerController.createDatePicker(opts);
		var myJSON = {"mousewheel":false};
		datePickerController.setGlobalVars(myJSON);
		var now=new Date();
		datePickerController.setSelectedDate("y2",now.format("yyyymmdd"));
		datePickerController.dateValidForSelection("y2", now);
		// ]]>
      </script>
	  <label for="event_time_end">End Time:</label><br/>
		<input type="text" id="timeend1" name="timeend1" maxlength="2" class="time"/> :
	  <input type="text" id="timeend2" name="timeend2" maxlength="2" class="time"/>
	  <%=select_tag(:timeend3, options_for_select(["am","pm"]))%><br />
	  <script type="text/javascript">
		// <![CDATA[
			var time = new Date();
			$("#timeend1").attr({value: time.format("hh")});
			$("#timeend2").attr({value: time.format("MM")});
			$("#timeend3").val(time.format("tt"));
			$('.time').each(function() {
				var default_value = this.value;
				$(this).focus(function() {
					if(this.value == default_value) {
						this.value = '';
					}
				});
				$(this).blur(function() {
					if(this.value == '') {
							this.value = default_value;
					}
				});
			});
		// ]]>
      </script>
	  </td>
	  </tr>
	  </table>
			
		<label for="event_description">Description:</label><br/>
		<%=text_field :descr, :size=> 20%><br />
		<%=f.submit "Submit"%>
	<%end%>
	
	<div class="overview_day">
	
	<h3>PLACEHOLDER DATE:</h3>
	
	<table id="rsvp_table_13" class="rsvp_table">
	
		<colgroup width="40%"></colgroup>
		<colgroup width="20%"></colgroup>
		<colgroup width="20%"></colgroup>
		
		<thead>
			<th scope="col">Event</th>
			<th scope="col">Room</th>
			<th scope="col">Time</th>
		</thead>
		
		<tbody>
		<% @rsvp.each do |r| -%>
			<tr id="<%=r.id%>">
				<td>
					<a id="more_info"><img id="plus-minus" src="/images/plus.png" width=20px height=20px />
					<%= r.name %>
				</td>
				<td>
					<%= r.location %>
				</td>
				<td>
					<%= r.start_time.strftime("%I:%M %p").gsub(/0?(\d):/,'\1:') %> - <%= r.end_time.strftime("%I:%M %p").gsub(/0?(\d):/,'\1:') %>
				</td>
			</tr>
			<tr class="ev_info" style="display:none">
				<td colspan="3">
					Description: <%= r.desc %></br>
					Reserved by: <%= User.find(r.reserved_user_id).fullname %>
				</td>
			</tr>
		<% end -%>
		</tbody>
			
	</table>
	
</div>
