<%
  page_title = Typus::I18n.t("Show %{resource}", :resource => @resource.model_name.human)
  title(page_title)
%>
<% content_for :sidebar, build_sidebar %>


  <h2> <%= page_title %> </h2>
  <small><%= list_actions %></small>


<%= display_flash_message %>
<%= render 'show' %>

  <% build_display(@item, fields).each do |attribute, type| %>
    <%= attribute %>
    <%= type %>
  <% end %>


<%= typus_relationships %>
