<div id="header">          

	
	<h1>
			<%= image_tag "crest.png", :id=>"crest", :height=>"120px" %>
		<a href="/">SkullWeb</a><span style="color:white;"> 
		<% if params[:controller] == 'hj' -%>
			/ House Jobs
		<% elsif params[:controller] == 'room'-%>
			/ Room Reservations
		<% elsif params[:controller] == 'admins' -%>
			/ Admin
		<% elsif params[:controller] == 'users' -%>
			/ Profile
		<% else -%>
		<% end -%>
		</span>
	</h1>
	
</div>

<div id="notice"><%= notice %></div>

<div id="main_nav">
	<ul>
		<li>
			<a href="/hj" class=<%= activate("hj") %> >House Jobs</a>
		</li>
		
		<li>
			<a href="/room" class=<%= activate('room') %> >Room Reservations</a>
		</li>
		<% if (current_user && current_user.admin) -%>
		<li>
			<a href="/admins" class=<%= activate('admins') %> >Admin Panel</a>
		</li>
		<% end -%>

		<li style="float:right;">
			<% if current_user -%>
				<%= link_to "Logout", :logout %></li>				
		<li style="float:right;"> 
			<%= link_to "#{current_user.first_name} #{current_user.last_name}", edit_user_path(current_user.id), :class=>activate('users') %>
		</li>
			<% else -%>    
		<li style="float:right;">
				<%= link_to "Login", :login %></li>
		<li style="float:right;">
				<%= link_to "Register", new_user_path %></li>
			<% end -%>
		</li>
	</ul>
	
</div>