<div id="header">
	
	<div id="login">  
	<% if current_user %>
		<%= link_to "#{current_user.first_name} #{current_user.last_name}", edit_user_path(current_user.id) %> |
		<%= link_to "Logout", :logout %>
	<% else %>              
		<%= link_to "Register", new_user_path %> |
		<%= link_to "Login", :login %>
	<% end %>
	</div>
	
	<h1>
		<a href="/">SkullWeb</a><span> / 
		<% if params[:controller] == 'hj' -%>
			House Jobs
		<% else -%>
			Room Reservations
		<% end -%>
		</span>
	</h1>
	
</div>


<div id="main_nav">
	<ul>
		
		<li>
			<a href="/hj" <%= activate("hj") %> >House Jobs</a>
		</li>
		
		<li>
			<a href="/room" <%= activate('room') %> >Room Reservations</a>
		</li>
		
	</ul>
	
</div>