<%= javascript_include_tag "jquery-1.5.2.min"%>
<%=javascript_include_tag "jquery-ui.min"%>
<!doctype html>
<html>


<head>
    <title>SkullWeb</title>
	<%= render 'layouts/resources' %>
</head>

<body>

	
    <div id="main">
		
		<%= render 'layouts/header' %>
		
        <div id="content">   
			<div id="notice"><%= notice %></div>
		
            <%= yield %>
			
        </div>
		
    </div>
	
</body>
</html>

